body {
  font-size: 16px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: #CCC;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 { 
  color: #333;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 5px #999;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #333;
  text-align: center;
  font-size: 1.3em;
}
#nav-list a:hover {
  background: #666;
  color:white;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
    margin-top: 20px;
}

  /* END HEADER */


/* HOME PAGE */
h2#top {
  margin-bottom: 30px;
}
#beef{background-color: #f6f5b2;}
#sushi{background-color: #b2f6bf;}
.row > div{
  max-height: 800px;
  overflow: auto;
}
.item-description.col-xs-12{
  padding: 3%;
  margin-bottom: 50px;
  background-color: #d1eaf9;
  border: 1px solid #6ac0f5;
}
.item-tile {
  margin-bottom: 25px;
}
.item-description {
  padding-right: 30px;
}
h3.item-title {
  margin: 0 0 30px;
}
/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }
  .navbar-brand h1 { 
    padding-top: 3px;
    font-size: 5vw; 
  }
  div#collapsable-nav{
  background-color: #ddd;
}
  
  /* End Header */


  /* Home Page */
  section.row{
    padding-left: 10%;
    padding-right: 10%;
  }
  .item-description.col-xs-12{
    margin: 30px auto;
  }
}
  /* END Home page */

/********** Super extra small devices Only  **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    font-size: 8vw;
    padding-top: 8px;
  }
  /* End Header */
  
  /* Home page */
  h2#top{
    margin-bottom: 10px;
  }
  .item-description.col-xs-12{
    padding: 25px;
  }
  /* END Home page */
}



